<%- include("header") -%>

<h2><%=pantry.name%></h2>
<p><%=pantry.description%></p>

<div class="create-item">
  <form class="add-item" action="/pantries/<%=pantry.name%>" method="post">
    <input type="text" name="itemName" placeholder="Add a new item...">
    <input type="number" name="itemAmount">
    <input type="hidden" name="pantryId" value="<%=pantry.id%>">
    <button type="submit" name="add-button" class="btn btn-success"> Add </button>
  </form>
</div>


<div class="content">
  <table class="table-content">
    <th class="item-delete"></th>
    <th class="item-description">Item</th>
    <th class="item-amount">Amount</th>
    <th class="item-action"></th>
    <% items.forEach( item => {%>
      <tr>
          <td class="item-delete">
            <form action="/itemDelete" method="post">
                <button type="submit" class="btn btn-danger  btn-sm delete-btn" name="btnDelete"> X </button>
                <input type="hidden" name="itemID" value="<%= item._id %>">
                <input type="hidden" name="pantryID" value="<%= pantry.id %>">
                <input type="hidden" name="listName" value="<%= pantry.name %>">
            </form>
          </td>
          <td class="item-description"> <%=item.name%> </td>

          <form class="item-edit" action="/itemEdit" method="post">
            <input type="hidden" name="pantryID" value="<%= pantry.id %>">
            <input type="hidden" name="listName" value="<%= pantry.name %>">
            <input type="hidden" name="itemID" value="<%= item._id %>">

            <td class="item-amount">
              <button type="button" class="btn btn-danger btn-sm" name="btnDecrease" onclick="decrease"> - </button>
              <input type="number" class="input-amount" name="itemAmount" id="<%=item._id%>" value="<%=item.amount%>">
              <button type="button" class="btn btn-primary btn-sm" name="btnIncrease" onclick="increase(<%=item._id%>)"> + </button>
            </td>
            <td class="item-action">
              <button type="submit" name="button" class="btn btn-success btn-sm">OK</button>
            </td>
          </form>

      </tr>
    <%});%>

  </table>
</div>

<%- include("footer") -%>
<!-- <script type="text/javascript">
  function decrease(){
    alert("clicked");
  //  oldValue = document.getElementbyID(id).value;
    //document.getElementbyID(id).setAttribute("value", oldValue - 1);
  }
</script> -->
